@import "tailwindcss";
@plugin "daisyui";

html,
body {
  margin: 0;
  padding: 0;
  background-color: #0b0c0f;
  color: white;
}

.container-fitlog {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 32px;
  padding-right: 32px;
}

@media (max-width: 768px) {
  .container-fitlog {
    padding-left: 20px;
    padding-right: 20px;
  }
}